header {
	!position: -webkit-sticky;
	position: sticky;
	top: 0px;
	padding: 5px;
    background-color: lightgray;
}

div.title {
	text-align: center;
}

div.subtitle {
	text-align: center;
	font-size: 10px;
	font-style: italic;
}

#authComponent {
	float: right;
}

table {
    width: 100%;
    max-width: 100%;
}

tr {
    width: 100%;
    max-width: 100%;
}

td.leftColumn {
	font-size: 10px;
	color: gray;
	width: 10%;
}

/* Devrais-je ajouter td.middleColumn ? */
div.middleColumn {
	width: 50%;
	!max-width: 80%;
	max-width: 80vw;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
}

td.rightColumn {
	font-size: 10px;
	color: gray;
	width: 10%;
}

tr.topRaw {
	font-size: 10px;
	color: gray;
	width: 10%;
}

