<header>
	<table>
		<tr>
			<td>
				<div class="title">
					<div>Bienvenue sur<span class="title-name"> {{title}} </span>!</div>
				</div>
				<div class="subtitle">
					<span>Cheap low-cost discount Twitter alternative!</span>
				</div>
			</td>
			<td>
				<div id="authComponent">
					<app-auth></app-auth>
				</div>
			</td>
		</tr>
	</table>
</header>
<table>
	<tr class="topRaw">
		<td class="leftColumn" rowspan="2">
			<span>left - more features incoming</span>
		</td>
		<td>
			<div class="middleColumn">
				<span>top - more features incoming</span>
			</div>
		</td>
		<td class="rightColumn" rowspan="2">
			<span>right - more features incoming</span>
		</td>
	</tr>
	<tr>
		<td>
			<div class="middleColumn">
				<app-articles></app-articles>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<router-outlet></router-outlet>
		</td>
	</tr>
</table>
