header {
	!width: 100%;
	!position: fixed;
	!top: 0px;
	!z-index: 1;
    background-color: lightgray;
}

div.title {
	text-align: center;
}

div.subtitle {
	text-align: center;
	font-size: 10px;
	font-style: italic;
}

#authComponent {
	float: right;
}

table {
    width: 100%;
	!float: top;
	!z-index: 0;
}

tr {
    width: 100%;
}

td.leftColumn {
	font-size: 10px;
	color: gray;
	width: 10%;
}

div.middleColumn {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

td.rightColumn {
	font-size: 10px;
	color: gray;
	width: 10%;
}

tr.topRaw {
	font-size: 10px;
	color: gray;
	width: 10%;
}

