<div *ngIf="!auth.isLoggedIn && !auth.isSigningIn">
	<form *ngIf="!auth.isLoggedIn && !auth.isSigningIn" (ngSubmit)="onSubmit()" #loginForm="ngForm">
		<table class="form-group">
			<tr>
				<td>
					<label for="login"> Login </label>
				</td>
				<td>
					<input type="text" class="form-control" id="login" required
						placeholder="email" [(ngModel)]="login" name="login" />
				</td>
			</tr>
			<tr>
				<td>
					<label for="pass"> Password </label>
				</td>
				<td>
					<input type="password" class="form-control" id="pass" required
						placeholder="password" [(ngModel)]="password" name="pass" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit"> Log in </button>
				</td>
			</tr>
		</table>
	</form>
	<div class="error-message">
		<span>{{errorMessage}}</span>
	</div>
</div>
<div *ngIf="auth.isLoggedIn" id="user-identification">
	<span>Connected as {{auth.firstname}} {{auth.lastname}}</span>
	<button (click)="logout()"> Log out </button>
</div>

