table {
	width: 100%;
}

tr {
	width: 100%;
}

div.article {
	width: 100%;
	padding: 5px;
	margin: 5px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

div.article-content {
	width: 100%;
}

div.article-author {
	width: 100%;
	text-align: right;
}

span.bold {
	font-size: 25px;
	font-style: bold;
}

span.article-content-text {
	font-style: italic;
}

span.article-author-text {
	font-size: 10px;
	color: gray;
}

