table {
	width: 100%;
	max-width: 100%;
}

tr {
	width: 100%;
	max-width: 100%;
}

div.third-party-article, div.self-article {
	width: 97%;
	!max-width: 90%;
	max-width: 40vw;
	box-sizing: border-box;
	padding: 0.33em 1.67em;
	margin-top: 0.33em;
	margin-bottom: 0.33em;
	!margin-left: 0px;
	!margin-right: 0px;
	border-radius: 1em;
	border-style: solid;
	border-width: 1px;
	!outline-style: solid;
	!outline-width: 1px;
}

div.third-party-article {
	border-color: skyblue;
	!outline-color: lightgreen;
}

div.self-article {
	border-color: lawngreen;
	!outline-color: lightgreen;
}

div.article-content {
	font-size: 1em;
	line-height: 1.5em;
	width: 100%;
}

div.article-author {
	width: 100%;
	text-align: right;
	font-size: 0.67em;
}

div.article-publication-date {
	width: 100%;
	text-align: right;
	font-size: 0.67em;
}

span.bold {
	font-style: bold;
}

p.article-content-text {
	font-family: sans-serif;
	font-style: italic;
	max-width: 95%;
	!inline-size: 80%;
	!word-wrap: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 20;
	overflow: hidden;
	text-overflow: ellipsis;
}

span.article-author-text {
	color: gray;
}

span.article-publication-date-text {
	color: gray;
}

