<div>
	<div class="loading-message">
		<span [innerHtml]="articles.loadingPictogram"></span><span> {{articles.loadingMessage}}</span>
	</div>
	<div class="error-message">
		<span [innerHtml]="articles.errorMessage"></span>
	</div>
	<span>Recent articles:</span>
	<table>
		<tr>
			<td>
				<button (click)="this.articlesFeedManagement('refresh')"> Refresh </button>
			</td>
		</tr>
		<tr *ngFor="let article of (articles.articlesFeed$ | async)">
			<td>
				<!-- Si l'auteur de l'article est un utilisateur tiers -->
				<div *ngIf="article.author !== auth.email" class="third-party-article">
					<div class="article-content">
						<p class="article-content-text"><span class="bold">&#171; </span><span [innerHtml]="article.content"></span><span class="bold"> &#187;</span></p>
						<!--
						<pre class="article-content-text"><span class="bold">&#171; </span>{{article.content}}<span class="bold"> &#187;</span></pre>
						-->
					</div>
					<div class="article-author">
						<span class="article-author-text">{{article.author}}</span>
					</div>
					<div class="article-publication-date">
						<span>[</span><span class="article-publication-date-text">{{article.publication_date}}</span><span>]</span>
					</div>
				</div>
				<!-- Si l'auteur de l'article est l'utilisateur courant -->
				<div *ngIf="article.author === auth.email" class="self-article">
					<div class="article-content">
						<p class="article-content-text"><span class="bold">&#171; </span><span [innerHtml]="article.content"></span><span class="bold"> &#187;</span></p>
						<!--
						<pre class="article-content-text"><span class="bold">&#171; </span>{{article.content}}<span class="bold"> &#187;</span></pre>
						-->
					</div>
					<div class="article-author">
						<span class="article-author-text">{{article.author}}</span>
					</div>
					<div class="article-publication-date">
						<span>[</span><span class="article-publication-date-text">{{article.publication_date}}</span><span>]</span>
					</div>
					<div>
						<a [routerLink]="['/articles', { 'outlets': { 'articlesInteractions': ['interactions', 'edit', article._id] } }]">edit</a>
						<span> | </span>
						<a [routerLink]="['/articles', { 'outlets': { 'articlesInteractions': ['interactions', 'remove', article._id] } }]">delete (not implemented yet)</a>
						<!--
						<a [routerLink]="['/articles', { 'outlets': { 'articlesEdit-609d62b0d87832002a03bbb5': ['edit', article._id] } }]">[609d62b0d87832002a03bbb5]</a>
						<a [routerLink]="['/articles', { 'outlets': { 'articlesEdit-609d743ed87832002a03bbb6': ['edit', article._id] } }]">[609d743ed87832002a03bbb6]</a>
						<named-outlet [name]="'articlesEdit-'+article._id"></named-outlet>
						<router-outlet name="articlesEdit-609d62b0d87832002a03bbb5"></router-outlet>
						<router-outlet name="articlesEdit-609d743ed87832002a03bbb6"></router-outlet>
						<router-outlet></router-outlet>
						-->
					</div>
					<div *ngIf="article._id === articles.articleToEditId">
						<ng-container *ngComponentOutlet="ArticlesEditComponent"></ng-container>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<button (click)="this.articlesFeedManagement('load')"> Load more </button>
			</td>
		</tr>
	</table>
</div>
