table {
	width: 100%;
	max-width: 100%;
}

tr {
	width: 100%;
	max-width: 100%;
}

div.article {
	width: 97%;
	!max-width: 90%;
	max-width: 40vw;
	box-sizing: border-box;
	padding: 15px 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	!margin-left: 10px;
	!margin-right: 10px;
	border-radius: 10px;
	!border-style: solid;
	!border-color: lightgreen;
	!border-width: 1px;
	outline-style: solid;
	outline-color: skyblue;
	outline-width: 1px;
}

div.article-content {
	font-size: 15px;
	width: 100%;
}

div.article-author {
	width: 100%;
	text-align: right;
	font-size: 10px;
}

div.article-publication-date {
	width: 100%;
	text-align: right;
	font-size: 10px;
}

span.bold {
	font-style: bold;
}

p.article-content-text {
	font-style: italic;
	max-width: 95%;
	!inline-size: 80%;
	!word-wrap: break-word;
	white-space: pre-wrap;
	overflow-wrap: break-word;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 20;
	overflow: hidden;
	text-overflow: ellipsis;
}

span.article-author-text {
	color: gray;
}

span.article-publication-date-text {
	color: gray;
}

