<div>
	<div class="error-message">
		<span>{{articles.errorMessage}}</span>
	</div>
	<span>Recent articles:</span>
	<table>
		<tr>
			<td>
				<button (click)="this.articlesFeedManagement('refresh')"> Refresh </button>
			</td>
		</tr>
		<tr *ngFor="let article of (articles.articlesFeed$ | async)">
			<td>
				<div class="article">
					<div class="article-content">
						<pre class="article-content-text"><span class="bold">&#171; </span>{{article.content}}<span class="bold"> &#187;</span></pre>
						<!--
						<p class="article-content-text"><span class="bold">&#171; </span>{{article.content}}<span class="bold"> &#187;</span></p>
						-->
					</div>
					<div class="article-author">
						<span class="article-author-text">{{article.author}}</span>
					</div>
					<div class="article-publication-date">
						<span>[</span><span class="article-publication-date-text">{{article.publication_date}}</span><span>]</span>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<button (click)="this.articlesFeedManagement('load')"> Load more </button>
			</td>
		</tr>
	</table>
</div>
