<div>
	<div *ngIf="!this.articles.isPublishing">
		<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
			<table class="form-group">
				<tr>
					<td>
						<label for="redact"> Redact </label>
					</td>
				</tr>
				<tr>
					<td>
						<textarea type="text" class="form-control" id="redact" required
							placeholder="Type your text here" [(ngModel)]="redact" name="redact" >
						</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<span class="redact-length">{{redact.length}}/{{publicationMaxLength}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<button type="submit" [routerLink]="['/articles', { 'outlets': { 'articlesFeed': ['feed', 'refresh'] } }]"> Publish </button>
					</td>
				</tr>
			</table>
		</form>
		<div class="error-message">
			<span>{{errorMessage}}</span>
		</div>
	</div>
</div>
<div *ngIf="this.articles.isPublishing">
	<table>
		<tr>
			<td>
				<span>Article publie avec succes !</span>
			</td>
			<td>
				<button (click)="this.display_redact_form()"> OK &#10003; </button>
			</td>
		</tr>
	</table>
</div>

